<style>
.product-badge-deliveryTime {
  background: #333;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  width: fit-content;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}
</style>
<span class="product-badge-deliveryTime">lagernd | Versand kostenlos (1 - 6 Werktage)</span>